In [1]:
#IST769 Midterm
#-----------------

# You will turn this file in along with screenshots as instructed on Blackboard

# YOUR NAME: JAYA VARSHINI PRABAKAR
# YOUR EMAIL: jprabaka@syr.edu
# YOUR SUID: 463948991

In [2]:
import pyspark
from pyspark.sql import SparkSession

user = "mongo"
passwd = "SU2orange!"
s3_bucket = "gamestreams"
s3_server = "http://minio:9000"
s3_access_key = "minio"
s3_secret_key = passwd
minio_pwd = "SU2orange!"
mongo_uri = f"mongodb://{user}:{passwd}@mongo:27017/admin?authSource=admin"
server_name = "jdbc:sqlserver://mssql"
database_name = "sidearmdb"
mssql_user = "sa"
mssql_pw = passwd
mssql_url = server_name + ";" + "databaseName=" + database_name + ";encrypt=true;trustServerCertificate=true;"

jars = [
    "org.apache.hadoop:hadoop-aws:3.1.2",
    "org.mongodb.spark:mongo-spark-connector_2.12:3.0.1",
    "com.microsoft.azure:spark-mssql-connector_2.12:1.2.0",
    "com.microsoft.sqlserver:mssql-jdbc:12.2.0.jre11"
]

spark = SparkSession.builder \
    .master("local") \
    .appName('jupyter-pyspark') \
        .config("spark.jars.packages",",".join(jars) )\
        .config("spark.hadoop.fs.s3a.endpoint", s3_server ) \
        .config("spark.hadoop.fs.s3a.access.key", s3_access_key) \
        .config("spark.hadoop.fs.s3a.secret.key", s3_secret_key) \
        .config("spark.hadoop.fs.s3a.fast.upload", True) \
        .config("spark.hadoop.fs.s3a.path.style.access", True) \
        .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
        .config("spark.mongodb.input.uri", mongo_uri) \
        .config("spark.mongodb.output.uri", mongo_uri) \
    .getOrCreate()
sc = spark.sparkContext
sc.setLogLevel("ERROR") # Keeps the noise down!!!

In [3]:
# HOW TO READ FROM MSSQL
df = spark.read.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .option("url", mssql_url) \
    .option("dbtable", "teams") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .load()

df2 = spark.read.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .option("url", mssql_url) \
    .option("dbtable", "players") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .load()

df2.show()

df.createOrReplaceTempView("teams")
df2.createOrReplaceTempView("players")

+---+------+------+-----+-----+------+
| id|  name|number|shots|goals|teamid|
+---+------+------+-----+-----+------+
|  1|   sam|     6|   56|   23|   101|
|  2| sarah|     1|   85|   34|   101|
|  3| steve|     2|   60|   20|   101|
|  4| stone|    13|   33|   10|   101|
|  5|  sean|    17|   26|    9|   101|
|  6|   sly|     8|   78|   15|   101|
|  7|   sol|     9|   52|   20|   101|
|  8| shree|     4|   20|    4|   101|
|  9|shelly|    15|   10|    2|   101|
| 10| swede|    10|   90|   50|   101|
| 11| jimmy|     1|  100|   50|   205|
| 12| julie|     9|   10|    0|   205|
| 13| james|     2|   45|   15|   205|
| 14|  jane|    15|   82|   46|   205|
| 15| jimmy|    16|   42|   30|   205|
| 16| julie|     8|   67|   32|   205|
| 17| james|    17|   40|   14|   205|
| 18|  jane|     3|   91|   40|   205|
| 19| jimmy|     5|   78|   22|   205|
| 20| julie|    22|   83|   19|   205|
+---+------+------+-----+-----+------+

In [4]:
# HOW TO WRITE TO MSSQL
df.write.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .mode("overwrite") \
    .option("url", mssql_url) \
    .option("dbtable", "players2") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .save()

In [5]:
# TODO: Read the gamestream.txt from minio

df3= f"s3a://{s3_bucket}/gamestream.txt"
gamestrm = spark.read.text(df3)
gamestrm.show()

+-----------------+
|            value|
+-----------------+
|  0 59:51 101 2 0|
|  1 57:06 101 6 0|
|  2 56:13 205 8 1|
|  3 55:25 101 4 0|
|  4 55:03 101 1 1|
| 5 54:50 101 17 0|
|  6 54:14 205 8 0|
|  7 53:59 101 9 0|
|  8 53:23 101 2 0|
| 9 51:21 101 13 0|
| 10 49:55 101 1 1|
| 11 49:28 101 2 1|
|12 48:52 101 10 1|
| 13 47:52 101 4 1|
| 14 47:44 101 9 0|
| 15 46:38 101 2 0|
| 16 45:49 101 1 1|
| 17 45:31 101 4 0|
| 18 43:29 205 1 1|
| 19 41:54 205 1 1|
+-----------------+
only showing top 20 rows

In [6]:
#TODO: Write the gamestream to mongodb
gamestrm.write.format("mongo").mode("overwrite").option("database","df").option("collection","gamestream").save()

In [2]:
# ANSWERS TO EXAM QUESTIONS
# PLACE YOUR ANSWERS BELOW TURN THIS .ipynb FILE IN ALONG WITH SCREENSHOTS AS INSTRUCTED ON BLACKBOARD

In [72]:
# Q1
select t.name as Team_Name,t.wins asTeam_Wins,t.losses as Team_Losses,
p.name as Player_Name,p.shots as Player_Shots,p.goals as Player_Goals from teams t 
join players p on t.id = p.teamid


#EXPLANATION
## The above code gives team and player data
## I used Join function to join both temans and players table
## This is intended to display the required columns mentioned on the qn

In [ ]:
# Q2

select columns[0] as Event_ID, columns[1] as Event_Timestamp, columns[2] as Team_ID, columns[3] as Player_Jersey_Num,
columns[4] as `Goal/Miss` from minio.`gamestream.txt`

##EXPLANATION:
##The question asks for columns to be labelled based on data dictionary,
## I used columns[n] systax as text files can be read column by column
## And it makes it easy to name them according to their column names from data dictionary

In [7]:
# Q3
# Write pyspark code (in SQL or DataFrame API) to display the gamestream. 
# Label each of the columns in the gamestream with their appropriate columns names from the data dictionary.

df3 = spark.read.option("header",False).option("delimiter"," ")\
.option("inferSchema",True).csv(f"s3a://{s3_bucket}/gamestream.txt")\
.toDF("Event_Id","Event_Timestamp","Team_ID","Player_Jersey_Num","Goal/Miss")\
.createOrReplaceTempView("gs_view")


spark.sql("select * from gs_view").show(n= 10)

#EXPLANATION:
# I used the reference from the Homework exercise on this.
# I loaded the txt file from the minio bucket with specifying the delimiter and inferSchema so that it will retain its
# variable types as it is. Then I loaded this to .csv file and converted to DataFrame using DF function and included all headers as 
#mentioned in the question.

+--------+---------------+-------+-----------------+---------+
|Event_Id|Event_Timestamp|Team_ID|Player_Jersey_Num|Goal/Miss|
+--------+---------------+-------+-----------------+---------+
|       0|          59:51|    101|                2|        0|
|       1|          57:06|    101|                6|        0|
|       2|          56:13|    205|                8|        1|
|       3|          55:25|    101|                4|        0|
|       4|          55:03|    101|                1|        1|
|       5|          54:50|    101|               17|        0|
|       6|          54:14|    205|                8|        0|
|       7|          53:59|    101|                9|        0|
|       8|          53:23|    101|                2|        0|
|       9|          51:21|    101|               13|        0|
+--------+---------------+-------+-----------------+---------+
only showing top 10 rows

In [13]:
# Q4
#Write pyspark code (in SQL or DataFrame API) to group the gamestream by team/player jersey number adding up the shots and goals. Specifically:

#One row per team / jersey number in the gamestream.
#Values dependent on team and player: total shots and goals for each player.
#Value dependent on only team: total goals (this should repeat for every row with the same team id)
query = '''
with sc1 as(
select Team_ID,sum(`Goal/Miss`) as Total_Goal from gs_view
group by Team_ID
)
select g.Team_ID,g.Player_Jersey_Num, count(g.`Goal/Miss`) as total_shots_Players,
sum(g.`Goal/Miss`) as goals_for_each_player,
s.Total_Goal  from gs_view g join sc1 s on 
g.Team_ID = s.Team_ID
group by g.Team_ID,g.Player_Jersey_Num, s.Total_Goal
'''
spark.sql(query).createOrReplaceTempView("player_dt")
spark.sql(query).show(n=30)
#player_dt.show()

# I started with a CTE to get Total_Goal since it should repeat for every team_id
#So I grouped all team_id to get their Goals
#Then I proceeded with player level and team level groups to get 
#shots by each player and Goals made by each player
# to achieve this I counted Goal/Miss for each player to get my shots by each player 
# and I summed up Goal/Miss to gets goals scored by each player
#Then I joined my CTE with Team_goal so that it will be repeated for every team on row level

+-------+-----------------+-------------------+---------------------+----------+
|Team_ID|Player_Jersey_Num|total_shots_Players|goals_for_each_player|Total_Goal|
+-------+-----------------+-------------------+---------------------+----------+
|      0|                0|                  1|                    0|         0|
|    101|               17|                  2|                    0|        14|
|    205|                9|                  4|                    0|         9|
|    101|                4|                  5|                    1|        14|
|    205|                8|                  2|                    1|         9|
|    205|                5|                  2|                    1|         9|
|    205|               22|                  1|                    0|         9|
|    101|                8|                  4|                    0|        14|
|    205|               17|                  3|                    1|         9|
|    205|                2|                  3|                    1|         9|
|    101|                1|                  8|                    6|        14|
|    205|               16|                  1|                    0|         9|
|    205|               15|                  2|                    2|         9|
|    101|                9|                  5|                    0|        14|
|    205|                1|                  3|                    3|         9|
|    101|                2|                  7|                    2|        14|
|    101|               15|                  3|                    1|        14|
|    101|               10|                  3|                    1|        14|
|    205|                3|                  1|                    0|         9|
|    101|                6|                  4|                    2|        14|
|    101|               13|                  7|                    1|        14|
+-------+-----------------+-------------------+---------------------+----------+

In [15]:
# Q5
## Use your output from 3. to include the most most current event id and timestamp for that point in time in the game. Same row level as 3. but now you include the latest event_id and timestamp.

##For example (sample - not the actual data):
query = '''

Select b.Latest_EventID,b.Latest_Timestamp,g.Team_ID,g.Player_Jersey_Num,g.total_shots_Players,
g.goals_for_each_player, g.Total_Goal from player_dt g 
Join (Select MAX(Event_Id) as Latest_EventID,
MAX(Event_Timestamp) as Latest_Timestamp from gs_view ) b on 1=1
'''
spark.sql(query).show()
spark.sql(query).createOrReplaceTempView("box_score")

+--------------+----------------+-------+-----------------+-------------------+---------------------+----------+
|Latest_EventID|Latest_Timestamp|Team_ID|Player_Jersey_Num|total_shots_Players|goals_for_each_player|Total_Goal|
+--------------+----------------+-------+-----------------+-------------------+---------------------+----------+
|            70|           59:51|      0|                0|                  1|                    0|         0|
|            70|           59:51|    101|               17|                  2|                    0|        14|
|            70|           59:51|    205|                9|                  4|                    0|         9|
|            70|           59:51|    101|                4|                  5|                    1|        14|
|            70|           59:51|    205|                8|                  2|                    1|         9|
|            70|           59:51|    205|                5|                  2|                    1|         9|
|            70|           59:51|    205|               22|                  1|                    0|         9|
|            70|           59:51|    101|                8|                  4|                    0|        14|
|            70|           59:51|    205|               17|                  3|                    1|         9|
|            70|           59:51|    205|                2|                  3|                    1|         9|
|            70|           59:51|    101|                1|                  8|                    6|        14|
|            70|           59:51|    205|               16|                  1|                    0|         9|
|            70|           59:51|    205|               15|                  2|                    2|         9|
|            70|           59:51|    101|                9|                  5|                    0|        14|
|            70|           59:51|    205|                1|                  3|                    3|         9|
|            70|           59:51|    101|                2|                  7|                    2|        14|
|            70|           59:51|    101|               15|                  3|                    1|        14|
|            70|           59:51|    101|               10|                  3|                    1|        14|
|            70|           59:51|    205|                3|                  1|                    0|         9|
|            70|           59:51|    101|                6|                  4|                    2|        14|
+--------------+----------------+-------+-----------------+-------------------+---------------------+----------+
only showing top 20 rows

In [16]:
# Q6
# Write pyspark code (in SQL or DataFrame API) to join the output from question 4 with 
#the player and team reference data mssql so that you have the data necessary for the box score.

query = '''
WITH box_team as(SELECT b.Latest_EventID, b.Latest_Timestamp,
b.Team_ID , t.conference, t.wins, t.losses,
b.Player_Jersey_Num,
b.Total_Goal as score,
b.total_shots_Players,
b.goals_for_each_player
from box_score b join teams t on
t.id = b.Team_ID)

SELECT
    b.Latest_EventID, 
    b.Latest_Timestamp,
    b.Team_ID , 
    b.conference,
    b.wins, b.losses,
    b.score,
    p.id,
    p.name,
    p.shots,
    b.total_shots_Players,
    b.goals_for_each_player,
    Round((b.goals_for_each_player/b.total_shots_Players),2) as pct
    from box_team b join players p
    on b.Player_Jersey_Num = p.id
'''
box_score_final=spark.sql(query)
box_score_final.show()
#spark.sql(query).createOrReplaceTempView("boxscore_final")

+--------------+----------------+-------+----------+----+------+-----+---+------+-----+-------------------+---------------------+----+
|Latest_EventID|Latest_Timestamp|Team_ID|conference|wins|losses|score| id|  name|shots|total_shots_Players|goals_for_each_player| pct|
+--------------+----------------+-------+----------+----+------+-----+---+------+-----+-------------------+---------------------+----+
|            70|           59:51|    101|       acc|  11|     2|   14|  1|   sam|   56|                  8|                    6|0.75|
|            70|           59:51|    205|     big10|   9|     4|    9|  1|   sam|   56|                  3|                    3| 1.0|
|            70|           59:51|    101|       acc|  11|     2|   14| 13| james|   45|                  7|                    1|0.14|
|            70|           59:51|    101|       acc|  11|     2|   14|  6|   sly|   78|                  4|                    2| 0.5|
|            70|           59:51|    205|     big10|   9|     4|    9| 16| julie|   67|                  1|                    0| 0.0|
|            70|           59:51|    205|     big10|   9|     4|    9|  3| steve|   60|                  1|                    0| 0.0|
|            70|           59:51|    205|     big10|   9|     4|    9|  5|  sean|   26|                  2|                    1| 0.5|
|            70|           59:51|    101|       acc|  11|     2|   14| 15| jimmy|   42|                  3|                    1|0.33|
|            70|           59:51|    205|     big10|   9|     4|    9| 15| jimmy|   42|                  2|                    2| 1.0|
|            70|           59:51|    101|       acc|  11|     2|   14|  9|shelly|   10|                  5|                    0| 0.0|
|            70|           59:51|    205|     big10|   9|     4|    9|  9|shelly|   10|                  4|                    0| 0.0|
|            70|           59:51|    101|       acc|  11|     2|   14| 17| james|   40|                  2|                    0| 0.0|
|            70|           59:51|    205|     big10|   9|     4|    9| 17| james|   40|                  3|                    1|0.33|
|            70|           59:51|    101|       acc|  11|     2|   14|  4| stone|   33|                  5|                    1| 0.2|
|            70|           59:51|    101|       acc|  11|     2|   14|  8| shree|   20|                  4|                    0| 0.0|
|            70|           59:51|    205|     big10|   9|     4|    9|  8| shree|   20|                  2|                    1| 0.5|
|            70|           59:51|    101|       acc|  11|     2|   14| 10| swede|   90|                  3|                    1|0.33|
|            70|           59:51|    101|       acc|  11|     2|   14|  2| sarah|   85|                  7|                    2|0.29|
|            70|           59:51|    205|     big10|   9|     4|    9|  2| sarah|   85|                  3|                    1|0.33|
+--------------+----------------+-------+----------+----+------+-----+---+------+-----+-------------------+---------------------+----+

In [17]:
# Q7
#Write pyspark code (in SQL or DataFrame API) to transform the output from question 5 into the box score document structure shown in part 3.1.
# Add a new column to identify if the team is home or away
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, collect_list, struct, sum as spark_sum, when, round, lag
from pyspark.sql.window import Window

# Add a new column to identify if the team is home or away
box_score_final = box_score_final.withColumn("team_type", when(col("Team_ID") == 101, "home").when(col("Team_ID")==205,"away"))
box_score_final.createOrReplaceTempView("box_score_final")
                                             
# Show the resulting DataFrame
#box_score_final.show()
query = '''
WITH st as(
SELECT Team_ID,
       CASE 
           WHEN Team_ID = 101 THEN
               CASE 
                   WHEN Max(score) > (SELECT Max(score) FROM box_score_final WHERE Team_ID = 205) 
                   THEN 'Winning'
                   WHEN Max(score) < (SELECT Max(score) FROM box_score_final WHERE Team_ID = 205) 
                   THEN 'Losing'
                   ELSE 'Tied'
               END
           WHEN Team_ID = 205 THEN
               CASE 
                   WHEN Max(score) > (SELECT Max(score) FROM box_score_final WHERE Team_ID = 101) 
                   THEN 'Winning'
                   WHEN Max(score) < (SELECT Max(score) FROM box_score_final WHERE Team_ID = 101) 
                   THEN 'Losing'
                   ELSE 'Tied'
               END
       END AS Team_Status
FROM box_score_final
group by Team_ID)

SELECT b.*, s.Team_Status from box_score_final b JOIN st s on b.Team_ID = s.Team_ID 
'''

box_score_final2=spark.sql(query)
box_score_final2.show()

+--------------+----------------+-------+----------+----+------+-----+---+------+-----+-------------------+---------------------+----+---------+-----------+
|Latest_EventID|Latest_Timestamp|Team_ID|conference|wins|losses|score| id|  name|shots|total_shots_Players|goals_for_each_player| pct|team_type|Team_Status|
+--------------+----------------+-------+----------+----+------+-----+---+------+-----+-------------------+---------------------+----+---------+-----------+
|            70|           59:51|    101|       acc|  11|     2|   14|  1|   sam|   56|                  8|                    6|0.75|     home|    Winning|
|            70|           59:51|    101|       acc|  11|     2|   14| 13| james|   45|                  7|                    1|0.14|     home|    Winning|
|            70|           59:51|    101|       acc|  11|     2|   14|  6|   sly|   78|                  4|                    2| 0.5|     home|    Winning|
|            70|           59:51|    101|       acc|  11|     2|   14| 15| jimmy|   42|                  3|                    1|0.33|     home|    Winning|
|            70|           59:51|    101|       acc|  11|     2|   14|  9|shelly|   10|                  5|                    0| 0.0|     home|    Winning|
|            70|           59:51|    101|       acc|  11|     2|   14| 17| james|   40|                  2|                    0| 0.0|     home|    Winning|
|            70|           59:51|    101|       acc|  11|     2|   14|  4| stone|   33|                  5|                    1| 0.2|     home|    Winning|
|            70|           59:51|    101|       acc|  11|     2|   14|  8| shree|   20|                  4|                    0| 0.0|     home|    Winning|
|            70|           59:51|    101|       acc|  11|     2|   14| 10| swede|   90|                  3|                    1|0.33|     home|    Winning|
|            70|           59:51|    101|       acc|  11|     2|   14|  2| sarah|   85|                  7|                    2|0.29|     home|    Winning|
|            70|           59:51|    205|     big10|   9|     4|    9|  1|   sam|   56|                  3|                    3| 1.0|     away|     Losing|
|            70|           59:51|    205|     big10|   9|     4|    9| 16| julie|   67|                  1|                    0| 0.0|     away|     Losing|
|            70|           59:51|    205|     big10|   9|     4|    9|  3| steve|   60|                  1|                    0| 0.0|     away|     Losing|
|            70|           59:51|    205|     big10|   9|     4|    9|  5|  sean|   26|                  2|                    1| 0.5|     away|     Losing|
|            70|           59:51|    205|     big10|   9|     4|    9| 15| jimmy|   42|                  2|                    2| 1.0|     away|     Losing|
|            70|           59:51|    205|     big10|   9|     4|    9|  9|shelly|   10|                  4|                    0| 0.0|     away|     Losing|
|            70|           59:51|    205|     big10|   9|     4|    9| 17| james|   40|                  3|                    1|0.33|     away|     Losing|
|            70|           59:51|    205|     big10|   9|     4|    9|  8| shree|   20|                  2|                    1| 0.5|     away|     Losing|
|            70|           59:51|    205|     big10|   9|     4|    9|  2| sarah|   85|                  3|                    1|0.33|     away|     Losing|
+--------------+----------------+-------+----------+----+------+-----+---+------+-----+-------------------+---------------------+----+---------+-----------+

In [18]:
from pyspark.sql.functions import collect_list, struct 
#Games Latest eventId and Timestamp
lastest_EventID = box_score_final2.select('Latest_EventID').distinct() 
latest_Timestamp = box_score_final2.select('Latest_Timestamp').distinct() 
#lastest_EventID.show()

#Grouping everything so that we can achieve part 3.1 JSON documentation format
box_doc = box_score_final2.groupBy("Team_ID","conference","wins","losses","score","Team_Status")\
.agg(collect_list(struct("id","name","shots","total_shots_Players","goals_for_each_player")))
 
# Section for Home and Away
home = box_doc.filter("Team_ID == 101")
away = box_doc.filter("Team_ID== 205")
#home.show()
#Document Structure
mongo_strct = [
{'_id': lastest_EventID.collect()[0][0],
'timestamp': latest_Timestamp.collect()[0][0],
'home': [home.first()],
'away':[away.first()]}]
#Creating a Dataframe
mongo_df = spark.createDataFrame(mongo_strct)
mongo_df.show()

+---+--------------------+--------------------+---------+
|_id|                away|                home|timestamp|
+---+--------------------+--------------------+---------+
| 70|[{205, big10, 9, ...|[{101, acc, 11, 2...|    59:51|
+---+--------------------+--------------------+---------+

In [19]:
# Q8

#Write pyspark code (in SQL or DataFrame API) to write the box score completed in question 6 to the mongo.sidearm.boxscores collection.
#The document should be keyed by event_id.
mongo_df.write.format("mongo").mode("append").option("database","sidearm").option("collection","boxscores").save()

In [20]:
# Q9
#Combine parts 4-7 into a single pyspark script that will run the entire process of creating the box score document. 
#Make sure to run this a couple of times while the game stream is going on so there are at least 5 box score events.
from pyspark.sql.functions import collect_list, struct

query = '''
with sc1 as(
select Team_ID,sum(`Goal/Miss`) as Total_Goal from gs_view
group by Team_ID
)
select g.Team_ID,g.Player_Jersey_Num, count(g.`Goal/Miss`) as total_shots_Players ,
sum(g.`Goal/Miss`) as goals_for_each_player, 
s.Total_Goal  from gs_view g join sc1 s on 
g.Team_ID = s.Team_ID
group by g.Team_ID,g.Player_Jersey_Num, s.Total_Goal
'''
player_dt = spark.sql(query)
query2='''
with sc1 as(
select Team_ID,count(`Goal/Miss`) as Total_Goal from gs_view
group by Team_ID
),
sc2 as(
select g.Team_ID,g.Player_Jersey_Num, count(g.`Goal/Miss`) as total_shots_Players,
sum(g.`Goal/Miss`) as goals_for_each_player, s.Total_Goal  from gs_view g join sc1 s on 
g.Team_ID = s.Team_ID
group by g.Team_ID,g.Player_Jersey_Num, s.Total_Goal 
)


Select b.Latest_EventID,b.Latest_Timestamp,g.Team_ID,g.Player_Jersey_Num,g.total_shots_Players,
g.goals_for_each_player, g.Total_Goal from sc2 g Join (Select MAX(Event_Id) as Latest_EventID, 
MAX(Event_Timestamp) as Latest_Timestamp from gs_view ) b on 1=1
'''
box_score = spark.sql(query2)
spark.sql(query2).createOrReplaceTempView("box_score")

query3='''
WITH box_team as(SELECT b.Latest_EventID, b.Latest_Timestamp,
b.Team_ID , t.conference, t.wins, t.losses,
b.Player_Jersey_Num,
b.Total_Goal as score,
b.total_shots_Players,
b.goals_for_each_player
from box_score b join teams t on
t.id = b.Team_ID)

SELECT
    b.Latest_EventID, 
    b.Latest_Timestamp,
    b.Team_ID , 
    b.conference,
    b.wins, b.losses,
    b.score,
    p.id,
    p.name,
    p.shots,
    b.total_shots_Players,
    b.goals_for_each_player,
    Round((b.goals_for_each_player/b.total_shots_Players),2) as pct
    from box_team b join players p
    on b.Player_Jersey_Num = p.id
    '''

spark.sql(query3).createOrReplaceTempView("box_score_final")
query4='''
WITH st as(
SELECT Team_ID,
       CASE 
           WHEN Team_ID = 101 THEN
               CASE 
                   WHEN Max(score) > (SELECT Max(score) FROM box_score_final WHERE Team_ID = 205) 
                   THEN 'Winning'
                   WHEN Max(score) < (SELECT Max(score) FROM box_score_final WHERE Team_ID = 205) 
                   THEN 'Losing'
                   ELSE 'Tied'
               END
           WHEN Team_ID = 205 THEN
               CASE 
                   WHEN Max(score) > (SELECT Max(score) FROM box_score_final WHERE Team_ID = 101) 
                   THEN 'Winning'
                   WHEN Max(score) < (SELECT Max(score) FROM box_score_final WHERE Team_ID = 101) 
                   THEN 'Losing'
                   ELSE 'Tied'
               END
       END AS Team_Status
FROM box_score_final
group by Team_ID)

SELECT b.*, s.Team_Status from box_score_final b JOIN st s on b.Team_ID = s.Team_ID 
'''
box_score_final2=spark.sql(query4)
 
#Games Latest eventId and Timestamp
lastest_EventID = box_score_final2.select('Latest_EventID').distinct() 
latest_Timestamp = box_score_final2.select('Latest_Timestamp').distinct() 
#lastest_EventID.show()

#Grouping everything so that we can achieve part 3.1 JSON documentation format
box_doc = box_score_final2.groupBy("Team_ID","conference","wins","losses","score","Team_Status")\
.agg(collect_list(struct("id","name","shots","total_shots_Players","goals_for_each_player")))
 
# Section for Home and Away
home = box_doc.filter("Team_ID == 101")
away = box_doc.filter("Team_ID== 205")
#home.show()
#Document Structure
mongo_strct = [
{'_id': lastest_EventID.collect()[0][0],
'timestamp': latest_Timestamp.collect()[0][0],
'home': [home.first()],
'away':[away.first()]}]
#Creating a Dataframe
mongo_df = spark.createDataFrame(mongo_strct)
mongo_df.show()

#The document should be keyed by event_id.
mongo_df.write.format("mongo").mode("append").option("database","sidearm").option("collection","boxscores").save()

+---+--------------------+--------------------+---------+
|_id|                away|                home|timestamp|
+---+--------------------+--------------------+---------+
| 70|[{205, big10, 9, ...|[{101, acc, 11, 2...|    59:51|
+---+--------------------+--------------------+---------+

In [ ]:
# Q10
#Write a drill SQL query to display the latest box score. The latest value should be derived from the data. not hard-coded eg. 56
WITH max_id as(
select MAX(`_id`) as max_id from mongo.`sidearm`.`boxscores` )
select s.`_id`,s.`timestamp`,s.`home`,s.`away` from mongo.`sidearm`.`boxscores` s, max_id m
where s.`_id` = m.max_id

In [21]:
# Q11
#When the game is complete, write pyspark code (in SQL or DataFrame API) update the wins and losses for the teams in the teams table. 
#Specifically, load the teams table and update it, then display the updated data frame.

query ='''
With scr1 as(
SELECT Team_ID, first(score) as score from box_score_final
group by Team_ID
),

team1 as(SELECT t.id,t.name, t.conference, t.wins+Case
   WHEN
    (SELECT score FROM scr1 WHERE team_id = 101) > 
    (SELECT score FROM scr1 WHERE team_id = 205)
    THEN 1
    ELSE 0 END as Wins
,t.losses + Case
WHEN
 (SELECT score FROM scr1 WHERE team_id = 101) <
    (SELECT score FROM scr1 WHERE team_id = 205)
    THEN 1
    ELSE 0 END as losses

from teams t join scr1 s on t.id = s.Team_ID
where t.id = 101),

team2 as(
SELECT t.id,t.name, t.conference ,t.wins+Case
   WHEN
    (SELECT score FROM scr1 WHERE team_id = 101) <
    (SELECT score FROM scr1 WHERE team_id = 205)
    THEN 1
    ELSE 0 END as Wins
,t.losses + Case
WHEN
 (SELECT score FROM scr1 WHERE team_id = 101) >
    (SELECT score FROM scr1 WHERE team_id = 205)
    THEN 1
    ELSE 0 END as losses

from teams t join scr1 s on t.id = s.Team_ID
where t.id = 205
)

SELECT * from team1
union
SELECT * from team2


'''
updateTeams=spark.sql(query)
updateTeams.show()

+---+-------------+----------+----+------+
| id|         name|conference|Wins|losses|
+---+-------------+----------+----+------+
|101|     syracuse|       acc|  12|     2|
|205|johns hopkins|     big10|   9|     5|
+---+-------------+----------+----+------+

In [22]:
# Q12
#Write pyspark code (in SQL or DataFrame API) to write the updated in question 11 to a new mssql.sidearmdb.teams2 table.

updateTeams.write.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .mode("overwrite") \
    .option("url", mssql_url) \
    .option("dbtable", "teams2") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .save()

In [81]:
# Q13
#When the game is complete, write pyspark code (in SQL or DataFrame API) update the shots and goals for the players in the players table. 
#Specifically, load the players table and update it, then display the updated data frame.
query = '''
with player1 as(select g.Team_ID,g.Player_Jersey_Num, 
count(g.`Goal/Miss`) as total_shots_Players ,
sum(g.`Goal/Miss`) as goals_for_each_player  from gs_view g
group by g.Team_ID,g.Player_Jersey_Num)

Select p.id, p.name, p.number, (p.shots+p1.total_shots_Players) as shots, 
(p.goals+p1.total_shots_Players) as goals, p.teamid

from players p join player1 p1 on

p.number =  p1.Player_Jersey_Num and p.teamid = p1.Team_ID
'''
updatePlayers=spark.sql(query)
updatePlayers.show()
#spark.sql(query).show(n =30)

+---+------+------+-----+-----+------+
| id|  name|number|shots|goals|teamid|
+---+------+------+-----+-----+------+
|  1|   sam|     6|   60|   27|   101|
|  2| sarah|     1|   93|   42|   101|
|  3| steve|     2|   67|   27|   101|
|  4| stone|    13|   40|   17|   101|
|  5|  sean|    17|   28|   11|   101|
|  6|   sly|     8|   82|   19|   101|
|  7|   sol|     9|   57|   25|   101|
|  8| shree|     4|   25|    9|   101|
|  9|shelly|    15|   13|    5|   101|
| 10| swede|    10|   93|   53|   101|
| 11| jimmy|     1|  103|   53|   205|
| 12| julie|     9|   14|    4|   205|
| 13| james|     2|   48|   18|   205|
| 14|  jane|    15|   84|   48|   205|
| 15| jimmy|    16|   43|   31|   205|
| 16| julie|     8|   69|   34|   205|
| 17| james|    17|   43|   17|   205|
| 18|  jane|     3|   92|   41|   205|
| 19| jimmy|     5|   80|   24|   205|
| 20| julie|    22|   84|   20|   205|
+---+------+------+-----+-----+------+

In [82]:
# Q14
#Write pyspark code (in SQL or DataFrame API) to write the updated in question 11 to a new mssql.sidearmdb.players2 table.

updatePlayers.write.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .mode("overwrite") \
    .option("url", mssql_url) \
    .option("dbtable", "players2") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .save()

In [ ]:
# Q15
#Re-write drill SQL query from question 1 to use the updated players2 and teams2 tables.

select t.name as Team_Name,t.Wins as Team_Wins,t.losses as Team_Losses,
p.name as Player_Name,p.shots as Player_Shots,p.goals as Player_Goals from teams2 t 
join players2 p on t.id = p.teamid