In [1]:
#IST769 Midterm
#-----------------

# You will turn this file in along with screenshots as instructed on Blackboard

# YOUR NAME:
# YOUR EMAIL:
# YOUR SUID:

In [65]:
import pyspark
from pyspark.sql import SparkSession

user = "sidearm"
passwd = "SU2orange!"
s3_bucket = "gamestreams"
s3_server = "http://minio:9000"
s3_access_key = "minio"
s3_secret_key = passwd
minio_pwd = "SU2orange!"
mongo_uri = f"mongodb://{user}:{passwd}@mongo:27017/admin?authSource=admin"
server_name = "jdbc:sqlserver://mssql"
database_name = "sidearmdb"
mssql_user = "sa"
mssql_pw = passwd
mssql_url = server_name + ";" + "databaseName=" + database_name + ";encrypt=true;trustServerCertificate=true;"

jars = [
    "org.apache.hadoop:hadoop-aws:3.1.2",
    "org.mongodb.spark:mongo-spark-connector_2.12:3.0.1",
    "com.microsoft.azure:spark-mssql-connector_2.12:1.2.0",
    "com.microsoft.sqlserver:mssql-jdbc:12.2.0.jre11"
]

spark = SparkSession.builder \
    .master("local") \
    .appName('jupyter-pyspark') \
        .config("spark.jars.packages",",".join(jars) )\
        .config("spark.hadoop.fs.s3a.endpoint", s3_server ) \
        .config("spark.hadoop.fs.s3a.access.key", s3_access_key) \
        .config("spark.hadoop.fs.s3a.secret.key", s3_secret_key) \
        .config("spark.hadoop.fs.s3a.fast.upload", True) \
        .config("spark.hadoop.fs.s3a.path.style.access", True) \
        .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
        .config("spark.mongodb.input.uri", mongo_uri) \
        .config("spark.mongodb.output.uri", mongo_uri) \
    .getOrCreate()
sc = spark.sparkContext
sc.setLogLevel("ERROR") # Keeps the noise down!!!

In [30]:
# HOW TO READ FROM MSSQL
df = spark.read.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .option("url", mssql_url) \
    .option("dbtable", "teams") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .load()

df2 = spark.read.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .option("url", mssql_url) \
    .option("dbtable", "players") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .load()

df2.show()

df.createOrReplaceTempView("teams")
df2.createOrReplaceTempView("players")

+---+------+------+-----+-----+------+
| id|  name|number|shots|goals|teamid|
+---+------+------+-----+-----+------+
|  1|   sam|     6|   56|   23|   101|
|  2| sarah|     1|   85|   34|   101|
|  3| steve|     2|   60|   20|   101|
|  4| stone|    13|   33|   10|   101|
|  5|  sean|    17|   26|    9|   101|
|  6|   sly|     8|   78|   15|   101|
|  7|   sol|     9|   52|   20|   101|
|  8| shree|     4|   20|    4|   101|
|  9|shelly|    15|   10|    2|   101|
| 10| swede|    10|   90|   50|   101|
| 11| jimmy|     1|  100|   50|   205|
| 12| julie|     9|   10|    0|   205|
| 13| james|     2|   45|   15|   205|
| 14|  jane|    15|   82|   46|   205|
| 15| jimmy|    16|   42|   30|   205|
| 16| julie|     8|   67|   32|   205|
| 17| james|    17|   40|   14|   205|
| 18|  jane|     3|   91|   40|   205|
| 19| jimmy|     5|   78|   22|   205|
| 20| julie|    22|   83|   19|   205|
+---+------+------+-----+-----+------+

In [23]:
# HOW TO WRITE TO MSSQL
df.write.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .mode("overwrite") \
    .option("url", mssql_url) \
    .option("dbtable", "players2") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .save()

In [24]:
# TODO: Read the gamestream.txt from minio

df3= f"s3a://{s3_bucket}/gamestream.txt"
gamestrm = spark.read.text(df3)
gamestrm.show()

+-----------------+
|            value|
+-----------------+
|  0 59:51 101 2 0|
|  1 57:06 101 6 0|
|  2 56:13 205 8 1|
|  3 55:25 101 4 0|
|  4 55:03 101 1 1|
| 5 54:50 101 17 0|
|  6 54:14 205 8 0|
|  7 53:59 101 9 0|
|  8 53:23 101 2 0|
| 9 51:21 101 13 0|
| 10 49:55 101 1 1|
| 11 49:28 101 2 1|
|12 48:52 101 10 1|
| 13 47:52 101 4 1|
| 14 47:44 101 9 0|
| 15 46:38 101 2 0|
| 16 45:49 101 1 1|
| 17 45:31 101 4 0|
| 18 43:29 205 1 1|
| 19 41:54 205 1 1|
+-----------------+
only showing top 20 rows

In [ ]:
#TODO: Write the gamestream to mongodb

In [2]:
# ANSWERS TO EXAM QUESTIONS
# PLACE YOUR ANSWERS BELOW TURN THIS .ipynb FILE IN ALONG WITH SCREENSHOTS AS INSTRUCTED ON BLACKBOARD

In [20]:
# Q1

select t.name as Team_Name,t.wins asTeam_Wins,t.losses as Team_Losses,
p.name as Player_Name,p.shots as Player_Shots,p.goals as Player_Goals from teams t 
join players p on t.id = p.teamid

#EXPLANATION
## The above code gives team and player data
## I used Join function to join both temans and players table
## This is intended to display the required columns mentioned on the qn

SyntaxError: invalid syntax (649560965.py, line 3)

In [ ]:
# Q2

select columns[0] as Event_ID, columns[1] as Event_Timestamp, columns[2] as Team_ID, columns[3] as Player_Jersey_Num,
columns[4] as `Goal/Miss` from gamestreams.`gamestream.txt`

##EXPLANATION:
##The question asks for columns to be labelled based on data dictionary,
## I used columns[n] systax as text files can be read column by column
## And it makes it easy to name them according to their column names from data dictionary

In [67]:
# Q3
# Write pyspark code (in SQL or DataFrame API) to display the gamestream. 
# Label each of the columns in the gamestream with their appropriate columns names from the data dictionary.

df3 = spark.read.option("header",False).option("delimiter"," ")\
.option("inferSchema",True).csv(f"s3a://{s3_bucket}/gamestream.txt")\
.toDF("Event_Id","Event_Timestamp","Team_ID","Player_Jersey_Num","Goal/Miss")\
.createOrReplaceTempView("gs_view")


spark.sql("select * from gs_view").show(n= 100)

#EXPLANATION:
# I used the reference from the Homework exercise on this.
# I loaded the txt file from the minio bucket with specifying the delimiter and inferSchema so that it will retain its
# variable types as it is. Then I loaded this to .csv file and converted to DataFrame using DF function and included all headers as 
#mentioned in the question.

+--------+---------------+-------+-----------------+---------+
|Event_Id|Event_Timestamp|Team_ID|Player_Jersey_Num|Goal/Miss|
+--------+---------------+-------+-----------------+---------+
|       0|          59:51|    101|                2|        0|
|       1|          57:06|    101|                6|        0|
|       2|          56:13|    205|                8|        1|
|       3|          55:25|    101|                4|        0|
|       4|          55:03|    101|                1|        1|
|       5|          54:50|    101|               17|        0|
|       6|          54:14|    205|                8|        0|
|       7|          53:59|    101|                9|        0|
|       8|          53:23|    101|                2|        0|
|       9|          51:21|    101|               13|        0|
|      10|          49:55|    101|                1|        1|
|      11|          49:28|    101|                2|        1|
|      12|          48:52|    101|               10|        1|
|      13|          47:52|    101|                4|        1|
|      14|          47:44|    101|                9|        0|
|      15|          46:38|    101|                2|        0|
|      16|          45:49|    101|                1|        1|
|      17|          45:31|    101|                4|        0|
|      18|          43:29|    205|                1|        1|
|      19|          41:54|    205|                1|        1|
|      20|          41:09|    101|                1|        1|
|      21|          41:03|    205|                5|        1|
|      22|          41:02|    101|               13|        0|
|      23|          40:47|    101|               15|        0|
|      24|          40:20|    101|                1|        1|
|      25|          39:09|    101|                9|        0|
|      26|          38:06|    101|                4|        0|
|      27|          38:03|    101|               13|        1|
|      28|          37:48|    205|               15|        1|
|      29|          37:31|    205|               15|        1|
|      30|          37:02|    101|               15|        0|
|      31|          36:31|    205|                2|        0|
|      32|          34:33|    101|                2|        0|
|      33|          34:22|    101|               15|        1|
|      34|          33:15|    101|                4|        0|
|      35|          32:23|    205|                9|        0|
|      36|          31:38|    101|                8|        0|
|      37|          30:45|    101|                6|        0|
|      38|          30:31|    101|               10|        0|
|      39|          30:26|    101|               13|        0|
|      40|          30:07|    101|                8|        0|
|      41|          29:04|    205|               17|        0|
|      42|          27:56|    205|               16|        0|
|      43|          25:56|    205|               22|        0|
|      44|          25:26|    205|                2|        0|
|      45|          25:20|    205|                9|        0|
|      46|          25:17|    101|               13|        0|
|      47|          24:57|    101|                6|        1|
|      48|          23:57|    101|                6|        1|
|      49|          22:36|    205|                9|        0|
|      50|          20:48|    205|               17|        0|
|      51|          20:43|    205|                9|        0|
|      52|          20:22|    101|                1|        1|
|      53|          19:04|    205|                3|        0|
|      54|          18:24|    101|                1|        0|
|      55|          17:23|    205|                1|        1|
|      56|          15:29|    101|                9|        0|
|      57|          13:18|    101|                8|        0|
|      58|          13:12|    101|               10|        0|
|      59|          13:07|    205|                2|        1|
|      60|          12:32|    205|               17|        1|
|      61|          11:33|    101|                2|        0|
|      62|          09:05|    101|                2|        1|
|      63|          07:42|    101|               13|        0|
|      64|          07:09|    101|               17|        0|
|      65|          03:41|    205|                5|        0|
|      66|          03:24|    101|                9|        0|
|      67|          03:22|    101|                1|        0|
|      68|          00:42|    101|               13|        0|
|      69|          00:17|    101|                8|        0|
|      70|          00:00|      0|                0|        0|
+--------+---------------+-------+-----------------+---------+

In [45]:
# Q4
#Write pyspark code (in SQL or DataFrame API) to group the gamestream by team/player jersey number adding up the shots and goals. Specifically:

#One row per team / jersey number in the gamestream.
#Values dependent on team and player: total shots and goals for each player.
#Value dependent on only team: total goals (this should repeat for every row with the same team id)
query = '''
with sc1 as(
select Team_ID,count(`Goal/Miss`) as Total_Goal from gs_view
group by Team_ID
)
select g.Team_ID,g.Player_Jersey_Num, count(g.`Goal/Miss`) as total_shots_Players ,sum(g.`Goal/Miss`) as goals_for_each_player, s.Total_Goal  from gs_view g join sc1 s on 
g.Team_ID = s.Team_ID
group by g.Team_ID,g.Player_Jersey_Num, s.Total_Goal
'''
spark.sql(query).show()

+-------+-----------------+-------------------+---------------------+----------+
|Team_ID|Player_Jersey_Num|total_shots_Players|goals_for_each_player|Total_Goal|
+-------+-----------------+-------------------+---------------------+----------+
|    205|                3|                  1|                    0|        22|
|    205|                1|                  3|                    3|        22|
|    205|               15|                  2|                    2|        22|
|    101|               13|                  7|                    1|        48|
|    205|               22|                  1|                    0|        22|
|    101|                9|                  5|                    0|        48|
|    101|               17|                  2|                    0|        48|
|    205|               17|                  3|                    1|        22|
|    101|                8|                  4|                    0|        48|
|    101|               10|                  3|                    1|        48|
|    205|                2|                  3|                    1|        22|
|    101|                1|                  8|                    6|        48|
|    101|               15|                  3|                    1|        48|
|    205|                9|                  4|                    0|        22|
|    101|                4|                  5|                    1|        48|
|    205|               16|                  1|                    0|        22|
|    101|                2|                  7|                    2|        48|
|      0|                0|                  1|                    0|         1|
|    205|                8|                  2|                    1|        22|
|    205|                5|                  2|                    1|        22|
+-------+-----------------+-------------------+---------------------+----------+
only showing top 20 rows

In [68]:
# Q5
## Use your output from 3. to include the most most current event id and timestamp for that point in time in the game. Same row level as 3. but now you include the latest event_id and timestamp.

##For example (sample - not the actual data):
query = '''
with sc1 as(
select Team_ID,count(`Goal/Miss`) as Total_Goal from gs_view
group by Team_ID
),
sc2 as(
select g.Team_ID,g.Player_Jersey_Num, count(g.`Goal/Miss`) as total_shots_Players,
sum(g.`Goal/Miss`) as goals_for_each_player, s.Total_Goal  from gs_view g join sc1 s on 
g.Team_ID = s.Team_ID
group by g.Team_ID,g.Player_Jersey_Num, s.Total_Goal 
)

Select b.Latest_EventID,b.Latest_Timestamp,g.Team_ID,g.Player_Jersey_Num,g.total_shots_Players,
g.goals_for_each_player, g.Total_Goal from sc2 g Join (Select MAX(Event_Id) as Latest_EventID, MAX(Event_Timestamp) as Latest_Timestamp from gs_view ) b on 1=1


'''
spark.sql(query).createOrReplaceTempView("box_score")

In [69]:
# Q6
# Write pyspark code (in SQL or DataFrame API) to join the output from question 4 with 
#the player and team reference data mssql so that you have the data necessary for the box score.

query = '''

'''
spark.sql(query).show()

+--------------+----------------+-------+-----------------+-------------------+---------------------+----------+
|Latest_EventID|Latest_Timestamp|Team_ID|Player_Jersey_Num|total_shots_Players|goals_for_each_player|Total_Goal|
+--------------+----------------+-------+-----------------+-------------------+---------------------+----------+
|            70|           59:51|    205|                3|                  1|                    0|        22|
|            70|           59:51|    205|                1|                  3|                    3|        22|
|            70|           59:51|    205|               15|                  2|                    2|        22|
|            70|           59:51|    101|               13|                  7|                    1|        48|
|            70|           59:51|    205|               22|                  1|                    0|        22|
|            70|           59:51|    101|                9|                  5|                    0|        48|
|            70|           59:51|    101|               17|                  2|                    0|        48|
|            70|           59:51|    205|               17|                  3|                    1|        22|
|            70|           59:51|    101|                8|                  4|                    0|        48|
|            70|           59:51|    101|               10|                  3|                    1|        48|
|            70|           59:51|    205|                2|                  3|                    1|        22|
|            70|           59:51|    101|                1|                  8|                    6|        48|
|            70|           59:51|    101|               15|                  3|                    1|        48|
|            70|           59:51|    205|                9|                  4|                    0|        22|
|            70|           59:51|    101|                4|                  5|                    1|        48|
|            70|           59:51|    205|               16|                  1|                    0|        22|
|            70|           59:51|    101|                2|                  7|                    2|        48|
|            70|           59:51|      0|                0|                  1|                    0|         1|
|            70|           59:51|    205|                8|                  2|                    1|        22|
|            70|           59:51|    205|                5|                  2|                    1|        22|
+--------------+----------------+-------+-----------------+-------------------+---------------------+----------+
only showing top 20 rows

In [ ]:
# Q7
#Write pyspark code (in SQL or DataFrame API) to transform the output from question 5 into the box score document structure shown in part 3.1.

In [ ]:
# Q8

#Write pyspark code (in SQL or DataFrame API) to write the box score completed in question 6 to the mongo.sidearm.boxscores collection.
#The document should be keyed by event_id.

In [ ]:
# Q9
#Combine parts 4-7 into a single pyspark script that will run the entire process of creating the box score document. 
#Make sure to run this a couple of times while the game stream is going on so there are at least 5 box score events.

In [ ]:
# Q10
#Write a drill SQL query to display the latest box score. The latest value should be derived from the data. not hard-coded eg. 56

In [ ]:
# Q11
#When the game is complete, write pyspark code (in SQL or DataFrame API) update the wins and losses for the teams in the teams table. 
#Specifically, load the teams table and update it, then display the updated data frame.

In [ ]:
# Q12
#Write pyspark code (in SQL or DataFrame API) to write the updated in question 11 to a new mssql.sidearmdb.teams2 table.

In [ ]:
# Q13
#When the game is complete, write pyspark code (in SQL or DataFrame API) update the shots and goals for the players in the players table. 
#Specifically, load the players table and update it, then display the updated data frame.

In [ ]:
# Q14
#Write pyspark code (in SQL or DataFrame API) to write the updated in question 11 to a new mssql.sidearmdb.players2 table.

In [ ]:
# Q15
#Re-write drill SQL query from question 1 to use the updated players2 and teams2 tables.